
/* Style the tab */
.topnav {
  background-color:#be3144;
  position:fixed;
  width: 100%;
  top: 0;
  overflow: hidden;
}

.btn:hover {
  background-color: pink;
  color: white;
}

body {
  font-family:"Poppins", sans-serif;
  font-size: 1.3rem;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}
  
.section {
  width: 100vw;
  height: 200vh;
  background-color:#45567d;;
  font-size: 30Px;
  color: white;
  text-align: center;
}

.one{
  background-image: url("photo-1533090161767-e6ffed986c88.jpeg");
  line-height: 19;
  text-align: center;
  color: whitesmoke; 
  width: 100vw;
  height: 100vh;
 }

 .three{
 background-color: rgb(56, 56, 56);
 width: 100vw;
height: 60vh;
 }

.btn {
  color: white;
  background-color:inherit;
  height: 40px;
  width: 90px;
  padding: 2px;
  border: none;
  text-decoration: none;
  float: right;
}

span.caption {
font-size:small;
text-align:initial;
float:inherit;
}

.fa {
  padding: 20px;
  font-size:xx-small;
  width: 150px;
  text-align: center;
}

.fa:hover {
  background-color:darksalmon;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-google {
  background: green;
  color: white;
}

.fa-github {
  background:darkblue;
  color: white;
}

.fa-phone {
  background: rebeccapurple;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  background-color: grey
  padding: 25px;
  justify-content: center;
}
  
a {
  color: white;
}

a:hover {
  background-color: blanchedalmond;
}
